* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  max-height: 250px;
}

h2 {
  font-size: 3rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.food-img {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.menu a {
  display: inline-block;

  color: white;

  font-size: 22px;

  padding: 0 25px;
}

a:hover {
  color: steelblue;
}

ul {
  display: grid;
  list-style: none;
  padding: 1rem;
  margin: 0;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

li {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dietary-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

input,
select {
  display: block;
  margin: 25px 0;
  width: 85%;

  box-sizing: border-box;

  border: 0;
  border-bottom: 2px dotted steelblue;

  font-size: 22px;
}

input:focus,
select:focus {
  outline: none;
}

label {
  font-size: 22px;
}

.check {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  border-bottom: 2px dotted steelblue;

  margin: 25px 0;

  width: 85%;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 25px 0 0;
}

.admin-container {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
}

.left {
  width: 50%;
}

.right {
  width: 50%;

  display: flex;
  flex-direction: column;
}

.ingredient {
  display: flex;
}

.ingredient input {
  margin: 15px;
}

button {
  background: transparent;

  border: 2px solid steelblue;
  border-radius: 5px;

  font-size: 22px;

  padding: 15px 0;

  cursor: pointer;
}

button:hover {
  background-color: steelblue;

  color: white;
}

.indv-wrapper {
  display: flex;
  justify-content: space-between;

  color: steelblue;

  width: 980px;

  margin: 0 auto;
}

.indv-wrapper img {
  max-height: 500px;
  padding: 50px 0;
}

.indv-wrapper ul {
  display: block;
  text-align: left;

  padding: 0 75px;
}

.indv-wrapper ul li {
  box-shadow: none;

  border-bottom: 1px solid steelblue;

  padding: 15px 0;
}

.indv-left {
  flex-basis: 50%;
}

.indv-right {
  flex-basis: 50%;
  padding: 50px 25px;

  text-align: left;
}

.indv-right p {
  font-size: 18px;

  padding: 0 75px;
}
