* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

img {
  max-width: 100%;
  max-height: 250px;
}

h2 {
  font-size: 3rem;
}

.App {
  text-align: center;
  color: #2c3e50;
}

.food-img {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.menu a {
  display: inline-block;

  background-color: #4dba87;

  border-radius: 5px;

  color: white;

  font-size: 16px;
  text-decoration: none;

  margin: 0 25px;
  padding: 10px 15px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.dietary-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

input,
select {
  display: block;
  margin: 25px 0;
  width: 85%;

  box-sizing: border-box;

  border: 0;
  border-bottom: 1px solid steelblue;

  font-size: 22px;
}

input:focus,
select:focus {
  outline: none;
}

label {
  font-size: 22px;
}

.check {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  border-bottom: 1px solid steelblue;

  margin: 25px 0;

  width: 85%;
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 25px 0 0;
}

.admin-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
}

.left,
.right {
  flex-basis: 40%;

  padding: 5px 25px;
}

.left h3,
.right h3 {
  font-size: 24px;
}

.right {
  display: flex;
  flex-direction: column;

  margin: 0 50px;
}

.right button,
.send button {
  background-color: #4dba87;

  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;

  margin: 25px;
  padding: 10px 15px;

  cursor: pointer;
}

.right button:hover,
.send button:hover {
  color: steelblue;
}

.ingredient {
  display: flex;
}

.ingredient input {
  margin: 15px;
}

.send {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

.error,
.success {
  font-weight: 600;
  font-size: 18px;
  padding: 0 15px;
}

.error {
  color: tomato;
}

.success {
  color: seagreen;
}
