@import 'https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Montserrat';

body {
  background-image: url('./assets/pattern-bg.png');

  margin: 0;
  padding: 0 0 50px 0;

  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: transparent;

  color: white;

  margin: 0 0 50px 0;
  padding: 20px;

  position: relative;
}

header a:hover {
  color: steelblue;
}

header h1 {
  color: #435466;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.background-logo {
  background-image: url('./assets/react-logo.svg');
  background-position: 0% 5%;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  bottom: 0;
  left: 0;

  height: 134px;
  width: 150px;

  transform: rotate(0.06turn);
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: steelblue;
}

/* Styles for GraphQL and Fetch Front Page Listings */
.cards {
  display: grid;
  list-style: none;
  padding: 1rem;
  margin: 0;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: rgba(255, 255, 255, 0.95);

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card h3 {
  color: #323232;
  font-size: 2rem;
  text-align: left;

  padding: 0 25px;
}

.card h3:hover {
  color: steelblue;
}

/* Styles for Individual Recipe Pages */
.indv-wrapper {
  display: flex;
  justify-content: space-between;

  color: steelblue;

  width: 980px;

  margin: 0 auto;
}

.indv-wrapper h4 {
  font-size: 2rem;

  margin: 1rem 0 0 0;
}

.indv-wrapper img {
  max-height: 500px;
  max-width: 100%;

  padding: 25px 0 0 0;
}

.indv-wrapper ul {
  display: block;
  text-align: left;

  list-style: none;

  margin: 0;
  padding: 0 75px;
}

.indv-wrapper ul li {
  box-shadow: none;

  border-bottom: 1px solid steelblue;

  padding: 15px 0;
}

.indv-left {
  flex-basis: 50%;

  height: 100%;
}

.indv-right {
  flex-basis: 50%;

  margin: 0 50px;
  padding: 50px 5px;

  text-align: left;
}

.indv-right p {
  font-size: 20px;
  font-weight: 600;

  padding: 0 50px;
}
