state = {
  recipes: []
};

componentWillMount = () => {
  fetch('https://recipe.gareth.cool/api/recipes/')
    .then(res => {
      return res.json();
    })
    .then(resJson => {
      this.setState({ recipes: resJson });
    });
};